html {
 
    min-height: 100%;
    margin: 0;
    background-color: aqua;
}
body {
    background-image: url("math.jpeg.webp");
    min-height: 100%;
    background-size: cover;
    margin: 0;
    text-align: center;
}

label{
    font-size:large;
    font-weight: bold;

}

#result1,#result{
    font-size: 30px;
    color: crimson;
}

